<div class="wrapper">
  <header>

  </header>
  <div class="content">
    <div class="parallax-section" [ngClass]="{ 'subpage': subpage }">
      <video src="assets/video/landing_video.mp4" autoplay loop style="display: none;"></video>
    </div>
    <div class="main-title" [ngClass]="{ 'subpage': subpage }">
      <a [routerLink]="['/']">
        UROLOGIJA.HR
    </a>
    </div>
    <router-outlet></router-outlet>
  </div>
  <footer>
    Copyright, contact etc.
  </footer>
</div>

<button (click)="scrollToTop()" id="btnScrollToTop" title="Go to top">
  <i class="fas fa-arrow-up"></i>  
  <div class="shine"></div>
</button>