@import "../../../theme.scss";

.faq-wrapper {
  position: fixed;
  left: calc(100% - 0px);
  top: 0px;
  height: 100vh;
  position: fixed;
  display: inline-block;
  box-shadow: $box-shadow;
  transition: transform 0.5s cubic-bezier(0.67, 0.04, 0.22, 1);

  &.displayed {
    transform: translateX(-100%);
  }

  width: calc(100vw - 40px);
  @media screen and (min-width: 960px) {
    width: 80vw;
  }
  @media screen and (min-width: 1200px) {
    width: 70vw;
  }
  @media screen and (min-width: 1200px) {
    width: 60vw;
  }
  @media screen and (min-width: 1600px) {
    width: 50vw;
  }

  .faq-button {
    position: absolute;
    overflow: hidden;
    opacity: 0.6;
    cursor: pointer;
    display: block;
    left: -40px;
    top: calc(50% - 24px);
    content: " ";
    height: 48px;
    width: 40px;
    background: $color-hl-sec;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    line-height: 48px;
    text-align: center;
    &:hover {
      opacity: 1;
    }
  }

  .shine {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 70%;
    background: rgba(255, 255, 255, 0.1);
    transition: all 0.3s linear;
    transform: skewX(20deg) translateX(0);
  }

  .faq-content {
    position: relative;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    padding: 24px;
    height: 100vh;
    background: #242428;
    border-top-right-radius: 6px;
    box-shadow: 0 4px 16px rgb(0 0 0 / 80%);
    max-height: 100%;
    overflow-y: auto;
  }
}
