@import "theme.scss";

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

router-outlet + * {
  display: block; /* Change display inline to block */
  animation: fade 0.75s;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Montserrat;
  padding: 0px;
  margin: 0px;
  color: $color-txt-pri;
  &.no-scroll {
    max-height: 100vh;
    overflow: hidden;
    #btnScrollToTop {
      display: none;
    }
  }
}

a {
  color: inherit;
  text-decoration: inherit;
}

img[svg] {
  opacity: 0;
}

svg {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  path {
    fill: $color-flat;
    stroke: $color-flat;
  }
}
svg.loaded {
  opacity: 1;
}

section {
  padding: $padding-std;
  background-color: $color-bg-pri;
  max-width: 1280px;
  margin: 0 auto;
  &.secondary {
    background-color: $color-bg-sec;
    max-width: unset;
    width: 100%;
    > div {
      max-width: calc(1280px - 80px);
      margin: 0 auto;
    }
  }

  .section-title {
    text-align: center;
    font-size: $font-size-md;
    font-weight: 900;
    position: relative;
    margin-bottom: 56px;
    &::after {
      content: " ";
      border-bottom: 2px solid $color-txt-pri;
      width: 40px;
      height: 1px;
      position: absolute;
      left: 50%;
      top: calc(100% + 16px);
      transform: translateX(-50%);
    }
  }

  .page-title {
    text-align: left;
    font-size: $font-size-md;
    font-weight: 900;
    position: relative;
    margin-bottom: 24px;
  }

  .page-menu {
    border-bottom: 2px solid $color-txt-pri;
    margin-bottom: 24px;
    > div {
      cursor: pointer;
      display: inline-block;
      margin-bottom: 24px;
      margin-right: 24px;
      &:hover,
      &.selected {
        color: $color-hl;
      }
    }
  }

  img {
    display: block;
    margin: 48px auto;
    max-width: 60%;
    box-shadow: 0px 0px 20px rgb(0 0 0);
  }

  .image-label {
    text-align: center;
    margin-top: -32px;
    margin-bottom: 40px;
  }
}

#btnScrollToTop {
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
  overflow: hidden;
  position: fixed;
  bottom: 24px;
  right: 48px;
  z-index: 99;
  border: none;
  outline: none;
  background: $color-hl;
  font-size: 18px;
  text-align: center;
  color: $color-txt-pri ;
  width: 48px;
  height: 48px;
  text-align: center;
  border-radius: 100%;
  &.displayed {
    opacity: 0.7;
  }
  .shine {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 70%;
    background: rgba(255, 255, 255, 0.1);
    transition: all 0.3s linear;
    transform: skewX(20deg) translateX(0);
  }
}

