
// Backgrounds:
$color-bg-pri: #242428;
$color-bg-sec: #292c33;
$color-bg-bars: #121212;

// Text:
$color-txt-pri: #ffffff;
$text-shadow: 0px 0px 5px #000000;
$font-size-xxl: 72px;
$font-size-xl: 64px;
$font-size-lg: 40px;
$font-size-md: 24px;
$font-size-nm: 16px;
$font-size-sm: 12px;

// Miscellaneus:
$color-hl: #1063cf;
$color-hl-sec: #da4626;
$color-flat: #bcbcbc;
$box-shadow: 0 4px 16px rgb(0 0 0 / 80%);

// Layout:
$padding-std: 40px;
